.home {
  text-align: center;
  margin-top: 50px;
}

.warning {
  font-size: 1.2em;
  margin-top: 20px;
  font-style: italic;
}

.logo {
  width: 100%;
  height: auto;
  max-height: 50vh;
  margin-bottom: 20px;
  object-fit: contain;
}
